.scroll-stack-wrapper {
    position: relative;
    padding: 20vh 20vh;
}

.scroll-stack-card {
    position: sticky;
    top: 20vh;
    margin-bottom: 100px;
    transform-origin: top center;
    transition: transform 0.2s ease-out;
    will-change: transform;
    width: 100%;
}

@media (max-width: 768px) {
    .scroll-stack-wrapper {
        padding: 5vh 1.5rem;
        /* Much smaller horizontal padding on mobile */
    }

    .scroll-stack-card {
        top: 10vh;
        /* Make sure it doesn't get covered by navbar */
    }
}